<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luohuo.flex.im.core.e2ee.mapper.UserPublicKeyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.luohuo.flex.im.domain.entity.UserPublicKey">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="key_id" property="keyId"/>
        <result column="spki" property="spki"/>
        <result column="algorithm" property="algorithm"/>
        <result column="fingerprint" property="fingerprint"/>
        <result column="status" property="status"/>
        <result column="last_used_at" property="lastUsedAt"/>
        <result column="expires_at" property="expiresAt"/>
        <result column="key_usage" property="keyUsage"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="is_del" property="isDel"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, tenant_id, key_id, spki, algorithm, fingerprint, status, last_used_at, expires_at, key_usage,
        create_time, create_by, update_time, update_by, is_del
    </sql>

</mapper>